#profileImage {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  image-orientation: center;
  float: right;
}
.Header {
  color: antiquewhite;
}
.heading h3 {
  color: black;
}
.heading h4 {
  color: black;
}
