.navButton {
  // margin-left: 2px;
  margin: auto;
  width: 24%;
  padding: 1%;
  border-radius: 11px;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(102, 76, 76);
  color: antiquewhite;
}
